body {
    font-family: 'Oswald', sans-serif;
    max-width: 30em;
    margin: 0 auto;
    padding: 0 15px;
}

.wrap-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.wrap-center:after {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #4d1d77;
    content: '';
    position: absolute;
    bottom: 30px;
    left: 48%;
}

#clock {
    color: #4d1d77;
    font-size: 72px;
    margin-bottom: 30px;
    text-align: center;
}

@media (min-width: 600px) {
    #clock {
        font-size: 122px;
        margin-bottom: 50px;
    }
}

.ampm {
    color: #a3a9ac;
    font-size: 36px;
}

@media (min-width: 600px) {
    .ampm {
        font-size: 58px;
    }
}

#alma_mater-words p {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 24px;
    margin: 0 0 15px;
}

@media (min-width: 600px) {
    #alma_mater-words p {
        font-size: 30px;
    }
}

#about {
    padding: 50px;
    text-align: center;
}

#about p {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.4;
}

@media (min-width: 600px) {
    #about p {
        font-size: 18px;
    }
}